
.title { order: 0; }
.title ~ .title { order: 1; }
.title ~ .title ~ .title { order: 3; }
.title ~ .title ~ .title ~ .title { order: 5; }
.title ~ .title ~ .title ~ .title ~ .title { order: 7; }

.card--history { order: 0; } 
.card--operation, .card--war { order: 2; }
.card--weapons, .card--salang { order: 4; }
.card--person, .card--book { order: 6; }
