@import "styles/cards.css";
@import "styles/order.css";

:host {
  --columns: 3;

  display: grid;
  grid-template-columns: repeat(var(--columns), 500px);
  
  row-gap: 90px;
  padding: 90px 0;

  justify-content: space-evenly;
}

.title { 
  box-sizing: border-box;
  position: relative;

  grid-column: 1 / -1;
  margin: 0;
}

.title {
  font-family: "TrixieCyr", sans-serif;
  font-weight: normal;
  font-size: 52px;
  text-align: center;
}

.title--sub {
  font-size: 48px;
  line-height: 1.36;
}
