@import "styles/headers.css";
@import "styles/main.css";
@import "styles/video.css";

:host {
  --ss-red-bg-size: 100px;

  padding: var(--ss-red-bg-size);
  padding-left: calc(var(--ss-red-bg-size) * 2);
  padding-bottom: calc(var(--ss-red-bg-size) * 2);

  background-image: linear-gradient(to right, 
    var(--ss-color-red),
    var(--ss-color-red) var(--ss-red-bg-size),
    transparent var(--ss-red-bg-size)
  ), linear-gradient(to bottom,
    var(--ss-color-red),
    var(--ss-color-red) var(--ss-red-bg-size),
    transparent var(--ss-red-bg-size),
    transparent calc(100% - var(--ss-red-bg-size)),
    var(--ss-color-red) calc(100% - var(--ss-red-bg-size)),
    var(--ss-color-red)
  );
  background-repeat: no-repeat;
  background-size: 100%, calc(100% - var(--ss-red-bg-size)) 100%;
  background-position: right;
  background-attachment: local;
}

img {
  box-shadow: 3px 3px 13px  rgb(0 0 0 / .72);
  border-radius: 3px;
  object-fit: cover;
}